{% extends 'main/users/home.html' %}
{% load static %}
{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/form.css' %}" />
{% endblock %}
{% block content %}
    <main class="main js-main">
            <h1>{{ project.title }}</h1>
                <div id="formcontrol">
            <form method="POST">
                  {% csrf_token %}
                                  <label for="lname"></label><input type="text" id="fname" name="lname" value="" placeholder="Количество часов"><br>
                <label for="fname"></label><input type="text" id="lname" name="fname" value="" placeholder="Описание"><br><br>
                <input type="submit" value ="Добавить" id="but">
            </form>
                </div>
    </main>
{% endblock %}

