{% extends 'main/users/home.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
<main class="main js-main">
          <h2>Ваш уровень: {{ user.get_difficulty_block_display }}</h2>
        <a href="{% url 'quiz' %}">Пройти тест</a>
    <div class="container">
        <h1>Выберите нужный модуль обучения</h1>

        <div class="sections">
            {% for section in sections %}
            <div class="section">
                <a href="{% url 'subsection_list' section.id %}">{{ section.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'quiz' %}">Пройти тест</a>
</main>

{% endblock %}