{% extends 'main/users/home.html' %}
{% load static %}
{% block title %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/disciplin.css' %}" />
{% endblock %}
{% block content %}
<main class="main-disciplin">
    <div class="button-test">
    <a href="{% url 'quiz' disciplin_id=disciplin.id %}" class="glow-button">Пройти тест</a>
    </div>
        <div class="container">
        <h1>Выберите нужный модуль обучения</h1>
        <div class="sections">  <!-- Изменено здесь -->
            {% for topic in topics %}  <!-- Изменено здесь -->
            <div class="section">  <!-- Изменено здесь -->
                <a href="{% url 'topic_detail' topic.id %}">{{ topic.title }}</a>  <!-- Изменено здесь -->
            </div>
            {% endfor %}
        </div>
    </div>
    </main>
{% endblock %}









