
{% extends 'main/users/home.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
<main class="main-disciplins">
    <div class="containers">
        <div class="sectionss">
            {% for topic in topics %}
<div class="sections" style="background-color: {{ topic.file_downloaded|yesno:"darkblue,blue" }};">

    <div class="section-title">
        <!-- Изменяем ссылку на скачивание -->
        {% if topic.file %}
        <a href="{% url 'download_file' topic.id %}" data-download>{{ topic.title }}</a>
        {% else %}
        <span>Файл лекции отсутствует</span>
        {% endif %}
    </div>
    {% if topic.video_url %}
    <div class="section-video">
        <a href="{{ topic.video_url }}" target="_blank">Перейти к видео</a>
    </div>
    {% endif %}
</div>
{% endfor %}

        </div>
    </div>
</main>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const downloadLinks = document.querySelectorAll("a[data-download]");

        downloadLinks.forEach(function(link) {
            link.addEventListener("click", function() {
                setTimeout(function() {
                    location.reload(); // Обновляем страницу
                }, 1000); // Можно установить задержку, например, в 1 секунду
            });
        });
    });
</script>

<style>
.main-disciplins {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.containers {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.sectionss {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center;
    align-items: start; /* Добавлено это свойство */
}

.sections {
    background-color: rgb(0, 125, 253);
    border-radius: 10px; /* скругленные углы */
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.section-title a {
    display: block;
    padding: 50px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.2s ease-in-out;
}

.section-video a {
    display: block;
    padding: 20px; /* уменьшено, чтобы кнопка была меньше */
    color: #fff;
    background-color: #e44d26;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.2s ease-in-out;
}

.section-video a:hover {
    color: #fbc2eb;
}

</style>
{% endblock %}