{% extends 'main/users/home.html' %}
{% load static %}
{% block title %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/quiz.css' %}" />
{% endblock %}
{% block content %}
    <div class="abcd"><h1>Итоговое тестирование</h1>
{% if remaining_time %}
    <p>Оставшееся время на тест: {{ remaining_time }}</p></div>
{% endif %}
<main class="main js-main-quiz">
<div id="timer" class="timer"></div>
    <form method="post" class="quiz-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="question">
                {{ field.label_tag }}
                {% if field.field.widget.attrs.image_url %}
                    <img src="{{ field.field.widget.attrs.image_url }}" alt="Image for {{ field.label }}" class="question-image">
                {% endif %}
                {{ field }}
            </div>
        {% endfor %}
        <div class="abcd">
        <button type="submit" class="submit-button">Завершить тест</button></div>
    </form>
</main>
<style>
    .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;  /* Зеленый фон */
    color: white;  /* Белый текст */
    border-radius: 10px;  /* Скругленные углы */
    padding: 10px 20px;  /* Внутренний отступ */
    font-size: 1.5em;  /* Размер шрифта */
    font-weight: bold;  /* Жирный текст */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);  /* Тень */
    margin: 20px;  /* Внешний отступ */
}

.timer.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        background-color: #e74c3c;  /* Красный фон при мигании */
    }
}

    .abcd {
    text-align: center;
    }

    .quiz-form {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .question {
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
    }

    .question:last-child {
        border-bottom: none;
    }

    .question p {
        margin: 0;
        font-weight: bold;
    }

    /* Стили для радио кнопок и текстовых полей */
    input[type="radio"] {
        margin-right: 10px;
    }

    input[type="text"] {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box; /* Для поддержания одинаковых размеров */
    }

    /* Стили для изображений вопросов */
    .question-image {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
    }

    /* Стили для кнопки отправки */
    .submit-button {
        background-color: #5cb85c;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .submit-button:hover {
        background-color: #4cae4c;
    }
</style>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var startTime = {{ start_time|date:"U" }};
    var duration = 7200;
    var endTime = startTime + duration;


    var countdown = function() {
        var now = Math.floor(Date.now() / 1000);
        var timeLeft = endTime - now;
        var timerElement = document.querySelector('#timer');

        if (timerElement) {
            if (timeLeft < 0) {
                // Если время истекло
                clearInterval(interval);
                timerElement.textContent = 'Время вышло';
                timerElement.classList.add('blink'); // Добавляем класс для мигания
                // Отправка формы
                document.querySelector('.quiz-form').submit();
            } else {
                // Обновление отображаемого времени
                var minutes = Math.floor(timeLeft / 60);
                var seconds = timeLeft % 60;
                timerElement.textContent = minutes + ':' + (seconds < 10 ? '0' : '') + seconds;

                if (timeLeft < 60) { // Если осталось меньше минуты
                    timerElement.classList.add('blink');
                } else {
                    timerElement.classList.remove('blink');
                }
            }
        }
    };

    var interval = setInterval(countdown, 1000);
});
</script>



{% endblock %}
