{% extends 'main/users/home.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
<div class="container">
    <h1>Неправильные Ответы в Итоговом Тесте</h1>
    {% for item in incorrect_questions_with_answers %}
        <div class="question">
            <h2>{{ item.question.text }}</h2>
            {% if item.question.image %}
                <img src="{{ item.question.image.url }}" alt="{{ item.question.text }}">
            {% endif %}
            <p><strong>Ваш ответ:</strong> {{ item.user_answer }}</p>
            <p><strong>Правильный ответ:</strong> {{ item.correct_answer }}</p>
        </div>
    {% endfor %}
</div>
<style>.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.abcd {text-align:center;}
.question {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.question:last-child {
    border-bottom: none;
}

.question h2 {
    font-size: 1.2em;
    color: #333;
}

.question img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.question p {
    font-size: 1em;
    color: #666;
}

.question p strong {
    color: #333;
}

.correct-answer {
    color: green;
}

.user-answer {
    color: red;
}
</style>
{% endblock %}
