{% extends 'main/users/home.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
<div class="container">
    <h1>Результаты итогового теста</h1>
    <div class="result-info">
        <p><strong>Оценка:</strong> {{ final_quiz_result.grade }}</p>
        <p><strong>Правильных ответов:</strong> {{ final_quiz_result.correct_answers_count }} из {{ final_quiz_result.total_questions_count }}</p>
    </div>
    <h2>Некорректные ответы</h2>
    {% for item in incorrect_questions_with_answers %}
        <div class="question">
            <h2>{{ item.question.text }}</h2>
            {% if item.question.image %}
                <img src="{{ item.question.image.url }}" alt="{{ item.question.text }}">
            {% endif %}
            <p><strong>Ваш ответ:</strong> <span class="user-answer">{{ item.user_answers }}</span></p>
            <p><strong>Правильный ответ:</strong> {{ item.correct_answer }}</p>
        </div>
    {% endfor %}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Находим все элементы с классом 'user-answer' и обрабатываем их
        document.querySelectorAll('.user-answer').forEach(function(element) {
            let text = element.textContent;
            // Удаляем квадратные скобки и кавычки
            text = text.replace(/^\['|'\]$/g, '').replace(/', '/g, ', ');
            element.textContent = text;
        });
    });
</script><script>
    window.history.pushState(null, "", window.location.href); // Добавляем текущее состояние в историю браузера
    window.onpopstate = function () {
        window.history.go(1); // Отменяем действие кнопки "Назад" и переходим вперед в истории браузера
    };
</script>

<style>.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2, h1 {text-align:center;}
.result-info {
    background-color: #f2f2f2; /* Светло-серый фон */
    border: 1px solid #e2e2e2; /* Тонкая серая граница */
    border-radius: 8px; /* Скругленные углы */
    padding: 15px; /* Внутренний отступ */
    margin: 20px 0; /* Внешний отступ сверху и снизу */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Слабая тень */
    text-align: center; /* Текст по центру */
}

.result-info p {
    font-size: 18px; /* Размер шрифта */
    color: #333; /* Темно-серый цвет текста */
    margin: 10px 0; /* Внешний отступ сверху и снизу для каждого параграфа */
}

.result-info p strong {
    color: #0056b3; /* Цвет для выделенных элементов (например, "Оценка:") */
    font-weight: bold; /* Жирное начертание для выделения */
}
.abcd {text-align:center;}
.question {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.question:last-child {
    border-bottom: none;
}

.question h2 {
    font-size: 1.2em;
    color: #333;

}

.question img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.question p {
    font-size: 1em;
    color: #666;
}

.question p strong {
    color: #333;
}

.correct-answer {
    color: green;
}

.user-answer {
    color: red;
}
</style>
{% endblock %}
