{% extends 'main/users/home.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block content %}
<div class="content">

    <div class="card" style="background-image: linear-gradient(180deg, #2af598 0%, #009efd 40%);">
        <h2>ОБУЧЕНИЕ</h2>
        <p></p>
        <img src="{% static 'topic.png' %}" alt="Image">
        <div class="button-wrapper">
<button onclick="location.href='{% url 'disciplin_detail' disciplin_id %}'">ПЕРЕЙТИ</button>

</div>
    </div>
{% if user_difficulty.difficulty_block == 'NN' %}
    <div class="card" style="background-image: linear-gradient(to top, rgb(62, 141, 184), rgb(148, 180, 205));">
        <h2>ВВОДНЫЙ ТЕСТ</h2>
        <p></p>
        <img src="{% static 'notepad.png' %}" alt="Image">
        <div class="button-wrapper">
        <button onclick="location.href='{% url 'quiz' disciplin_id %}'">ПЕРЕЙТИ</button>
    </div>
</div>
{% else %}
    <div class="card" style="background-image: linear-gradient(to top, rgb(62, 141, 184), rgb(148, 180, 205));">
        <h2>ТЕСТИРОВАНИЕ</h2>
        <p></p>
        <img src="{% static 'notepad.png' %}" alt="Image">
        <div class="button-wrapper">
        <button onclick="location.href='{% url 'quiz' disciplin_id %}'">ПЕРЕЙТИ</button>
    </div>
</div>
    {% endif %}
                <div class="card" style="background-image: linear-gradient(to top, rgb(52, 140, 204), rgb(103, 198, 230));">
        <h2>ЭКЗАМЕН</h2>
        <p></p>
        <img src="{% static '4321.png' %}" alt="Image">
      <div class="button-wrapper">
        <button onclick="confirmExamStart('{% url 'final_quiz' disciplin_id %}', {{ disciplin_id }})">Перейти</button>
</div>
    </div>

    <div class="card" style="background-image: linear-gradient(to top, rgb(52, 140, 204), rgb(103, 198, 230));">
        <h2>РЕЗУЛЬТАТЫ</h2>
        <p></p>
        <img src="{% static 'result.png' %}" alt="Image">
      <div class="button-wrapper">
        <button onclick="location.href='{% url 'discipline_results' disciplin_id %}'">ПЕРЕЙТИ</button>
</div>
    </div>
<div id="examModal" style="display: none;">
    <p>Ваши попытки прохождения экзамена исчерпаны.</p>
    <button onclick="closeModal()">Закрыть</button>
</div>

<script>
var isExamInProgress = {% if user.is_exam_in_progress == 1 %}true{% else %}false{% endif %};

function confirmExamStart(url, currentDisciplinId) {
    console.log("Текущий ID дисциплины экзамена пользователя:", {{ user.current_exam_disciplin_id }});
    console.log("ID дисциплины, на которую переходят:", currentDisciplinId);
    console.log("Текущий статус экзамена (JavaScript):", isExamInProgress);

    if (isExamInProgress && {{ user.current_exam_disciplin_id }} != currentDisciplinId) {
        alert("Вы не можете начать новый экзамен по другой дисциплине, пока не завершили текущий.");
    } else {
        // Существующая логика
        {% if final_quiz_in_progress %}
            window.location.href = url;
        {% else %}
            {% if remaining_attempts <= 0 %}
                document.getElementById('examModal').style.display = 'block';
                document.body.classList.add('overlay');
            {% else %}
                if (confirm("Вы точно хотите начать итоговый тест?")) {
                    window.location.href = url;
                }
            {% endif %}
        {% endif %}
    }
}

function closeModal() {
    document.getElementById('examModal').style.display = 'none';
    document.body.classList.remove('overlay');
}
</script>






<style>
#examModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 300px;
    text-align: center;
}

#examModal p {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#examModal button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#examModal button:hover {
    background-color: #0056b3;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #white;
}

header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 50px;
            background-image: linear-gradient(to right, rgb(0, 125, 253), rgb(0, 160, 210));
            margin-bottom: 10px;
        }

        .logo img,
        .logo-right img {
            max-height: 100px;
            width: auto;
        }

        .logo-right {
            order: 3; /* Помещает логотип справа */
        }
.sub-navbar nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.sub-navbar nav li a {
margin-right: 40px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: black; /* Указание черного цвета для текста ссылок */
}

.sub-navbar nav li a:hover {
    color: #6a6a6a;
}


.sub-navbar {
    background-color: #white;
    padding: 2px;
    text-align: center;
    margin-left: 80px; /* Добавлен отступ слева */
    margin-right: 5px; /* Добавлен отступ справа */
    border: 2px solid rgba(128, 128, 128, 0.5); /* Добавлена полупрозрачная серая рамка */
margin-bottom: 30px;
}




.content {
    display: flex;
    justify-content: center; /* выравнивание карточек по центру */
    gap: 17px; /* расстояние между карточками */
    margin-bottom: 5px;
}




.header-text {
    text-align: center;
    font-family: 'Nunito', sans-serif; /* Применение шрифта Nunito */
}

.header-text h1 {
    font-size: 40px; /* или другой размер, который вам нравится */
    margin: 0; /* убирает стандартные отступы */
    color: white; /* или другой цвет, который вам нравится */

}

.header-text p {
    font-size: 22px; /* или другой размер, который вам нравится */
    margin: 0; /* убирает стандартные отступы */
    color: white; /* или другой цвет, который вам нравится */
}

    .content {
    display: flex;
    flex-wrap: wrap;
}

</style>

</div>
{% endblock %}











