{% extends 'main/users/home.html' %}
{% load static %}
{% block title %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/quiz.css' %}" />
{% endblock %}
{% block content %}
    <div class="user-block-info">
        <div class="centered-text">
        <h2>Текущий блок сложности: <strong>
            {% if request.user.difficulty_block == 'L1' %}
               1/6 (Низкий 1 степени)
            {% elif request.user.difficulty_block == 'L2' %}
               2/6 (Низкий 2 степени)
            {% elif request.user.difficulty_block == 'M1' %}
               3/6 (Средний 1 степени)
            {% elif request.user.difficulty_block == 'M2' %}
               4/6 (Средний 2 степени)
            {% elif request.user.difficulty_block == 'H1' %}
               5/6 (Высокий 1 степени)
            {% elif request.user.difficulty_block == 'H2' %}
               6/6 (Высокий 2 степени)
            {% elif request.user.difficulty_block == 'NN' %}
                Входной контроль
            {% else %}
                Не определено
            {% endif %}
        </strong></h2>
        </div></div>
<main class="main js-main-quiz">
    <form method="post" action="{% url 'quiz' disciplin_id %}">
        {% csrf_token %}
{% for question, field in questions_and_forms %}
    <p>{{ question.text }}</p>
    {% if question.image %}
        <img src="{{ question.image.url }}" alt="{{ question.text }}">
    {% endif %}
    {{ field }}
{% endfor %}


        <br><br>
        <div class="buts">
            <input type="submit" value="Завершить тест">
        </div>
    </form>
</main>

<style>
    .final-quiz-button {
        display: inline-block;
        padding: 10px 20px;
        margin: 20px 0;
        font-size: 16px;
        color: #fff;
        background-color: #e74c3c;
        border: none;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .final-quiz-button:hover {
        background-color: #d62c1a;
    }

    .final-quiz-button:active {
        background-color: #99281a;
    }
    .centered-text {
    text-align: center;
}

</style>

{% endblock %}
