{% extends 'main/users/home.html' %}
{% load static %}
{% block title %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/quiz.css' %}" />
{% endblock %}
{% block content %}
    <div class="user-block-info">
<div class="centered-text">
    <h2>Текущий блок сложности: <strong>
        {% with user_difficulty.difficulty_block as difficulty_block %}
            {% if difficulty_block == 'L1' %}
                1/6 (Низкий 1 степени)
            {% elif difficulty_block == 'L2' %}
                2/6 (Низкий 2 степени)
            {% elif difficulty_block == 'M1' %}
                3/6 (Средний 1 степени)
            {% elif difficulty_block == 'M2' %}
                4/6 (Средний 2 степени)
            {% elif difficulty_block == 'H1' %}
                5/6 (Высокий 1 степени)
            {% elif difficulty_block == 'H2' %}
                6/6 (Высокий 2 степени)
            {% elif difficulty_block == 'NN' %}
                Входной контроль
            {% else %}
                Не определено
            {% endif %}
        {% endwith %}
    </strong></h2>
</div>

<main class="main js-main-quiz">
    <form method="post" action="{% url 'quiz' disciplin_id %}">
        {% csrf_token %}
{% for question, field in questions_and_forms %}
    <p>{{ question.text }}</p>
    {% if question.image %}
        <img src="{{ question.image.url }}" alt="{{ question.text }}">
    {% endif %}
    {{ field }}
{% endfor %}


        <br><br>
        <div class="buts">
            <input type="submit" value="Завершить тест">
        </div>
    </form>
</main>



<style>
    .no-interaction {
    pointer-events: none;
    opacity: 0.5; /* Необязательно, если хотите сделать фон менее заметным */
}
    #quiz-completion-modal .cent {text-align:center;}
    #quiz-completion-modal {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #f8f9fa; /* Светлый фон */
        padding: 40px; /* Больше отступов для большего размера */
        border-radius: 15px; /* Скругленные углы */
        box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Тень для лучшей видимости */
        z-index: 1000;
        width: 40%; /* Ширина модального окна */
        max-width: 600px; /* Максимальная ширина */
    }

    #quiz-completion-modal p {
        font-size: 50px; /* Больше размер шрифта для текста */
        color: #00FF00; /* Темно-серый цвет текста */
        margin-bottom: 30px; /* Отступ снизу для текста */
        text-align: center; /* Выравнивание текста по центру */
    }

    #quiz-completion-modal button {
        padding: 15px 30px; /* Больше отступы для кнопок */
        font-size: 18px; /* Больше размер шрифта для кнопок */
        color: white; /* Белый текст на кнопках */
        border: none; /* Убрать границу */
        border-radius: 8px; /* Скругленные углы для кнопок */
        margin-right: 10px; /* Отступ справа для кнопки */
        cursor: pointer; /* Курсор в виде указателя */
        transition: background-color 0.3s; /* Плавный переход цвета */
    }

    #view-results {
        background-color: #007bff; /* Синий цвет для кнопки дисциплин */
    }

    #view-results:hover {
        background-color: #0069d9; /* Темнее синий при наведении */
    }

    #go-to-disciplines {
        background-color: #007bff; /* Синий цвет для кнопки дисциплин */
    }

    #go-to-disciplines:hover {
        background-color: #0069d9; /* Темнее синий при наведении */
    }
    .final-quiz-button {
        display: inline-block;
        padding: 10px 20px;
        margin: 20px 0;
        font-size: 16px;
        color: #fff;
        background-color: #e74c3c;
        border: none;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .final-quiz-button:hover {
        background-color: #d62c1a;
    }

    .final-quiz-button:active {
        background-color: #99281a;
    }
    .centered-text {
    text-align: center;
}

</style>

{% endblock %}
