{% extends 'main/users/home.html' %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/content_d.css' %}" />
{% block title %}
{% endblock %}
{% block content %}
    <main class="topic">
        <div class="container">
        <h1>{{ topic.title }}</h1>  <!-- Обратите внимание на изменение переменной с 'subsection' на 'topic' -->
        <div class="content-container">
            {{ topic.content|linebreaks }}  <!-- Аналогично -->
        </div>
        <div style="text-align:center;">
        <button onclick="goBack()" class="button">Вернуться назад</button>


<script>
function goBack() {
    window.history.back();
}
</script>
<style>/* Стили для основного контента */
.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

/* Стили для заголовка */
h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Стили для контента лекции */
.content-container {
    font-size: 1.2em;
    line-height: 1.6;
    color: black;
    margin-bottom: 40px;
}

/* Стили для кнопки */
.button {
    background-color: #4CAF50; /* Зеленый */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
</style>
        </div>
    </div>

    </main>
{% endblock %}
