{% extends 'main/admin/home.html' %}
{% load static %}
{% block title %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/create_discipline.css' %}" />
{% endblock %}
{% block content %}
<main class="main-gr">
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="for_button"><button type="submit" class="create-group-btn">Создать</button>
        <a href="{% url 'homesss' %}" class="create-group-btn">Вернуться</a>
    </div>

</form>
    
</main>
{% endblock %}












