{% extends 'main/admin/home.html' %}
{% load static %}
{% block title %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/homesss.css' %}" />
{% endblock %}
{% block content %}
<main class="main-teacher">
    <h1>Панель преподавателя</h1><br>
    <a href="{% url 'create_group' %}">Создать группу</a><br>
    <a href="{% url 'create_discipline' %}">Создать дисциплину</a><br>
    <a href="{% url 'create_question' %}">Создать вопрос</a><br>
    <a href="{% url 'create_topic' %}">Создать лекцию</a><br>
    </main>
{% endblock %}





