{% extends 'main/admin/home.html' %}
{% load static %}
{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/archive.css' %}" />
{% endblock %}
{% block content %}
<main class="main js-main">
    <table>
        <thead>
            <tr>
                <th>Номер</th>
                <th>Название</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'archive_project_reports' project_id=task.id %}">{{ task.title }}</a></td>
                <td>{{ task.task }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Архив пуст</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}





