{% extends 'main/admin/home.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
<main class="main js-main">
    <h1>{{ project.title }}</h1>
    <table class="tasks-table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Пользователь</th>
                <th>Количество часов</th>
                <th>Описание</th>
                <th>Общее количество часов</th>
            </tr>
        </thead>
        <tbody>
            {% for report in project_reports %}
            <tr>
                <td>{{ report.date }}</td>
                <td>{{ report.user.username }}</td>
                <td>{{ report.hours_spent }}</td>
                <td>{{ report.description }}</td>
                <td>{{ report.all_hours }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Нет отчетов по выбранному проекту!</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}



