




<!DOCTYPE html>
{% load static %}
<html >
<head>
  <meta charset="UTF-8">
  <title>Log in/Sign up screen animation</title>


</head>

<body>
<h2>{{ user.username }}</h2>
<p>{{ position }}</p>
<ul>
    {% for project in projects %}
        <li>
            {{ project.project.title }}
            <form action="{% url 'delete_project' project.project.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% empty %}
        <li>No projects found</li>
    {% endfor %}
</ul>

</body>
</html>



