{% extends 'main/admin/home.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
    <main class="main js-main">
        <table class="tasks-table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Пользователь</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'user_projects' user.id %}">{{ user.username }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</main>
{% endblock %}