body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #23527c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #1E90FF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


.main.js-main .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.main.js-main h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.main.js-main .sections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main.js-main .section {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    margin-bottom: 2rem;
    position: relative;
}

.main.js-main .section a {
    text-decoration: none;
    color: #212529;
    font-weight: bold;
}

.main.js-main .section:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}


/* Добавьте этот код в ваш файл CSS */

.main.js-main .content-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 2rem;
    line-height: 1.6;
}

.main.js-main .content-container h2,
.main.js-main .content-container h3,
.main.js-main .content-container h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.main.js-main .content-container p {
    margin-bottom: 1rem;
}

.main.js-main .content-container ul,
.main.js-main .content-container ol {
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.main.js-main .content-container blockquote {
    border-left: 3px solid #ccc;
    padding-left: 1rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.main.js-main .content-container pre {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
}

.main.js-main .content-container code {
    font-family: "Courier New", Courier, monospace;
}

.main.js-main .content-container img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}


.main.js-main .button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #555d55;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.main.js-main .button:hover {
    background-color: #000000;
}

.main.js-main-quiz h1, h2 {
    color: #333;
}
.main.js-main-quiz form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 700px;
    margin: 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.main.js-main-quiz p {
    margin-bottom: 10px;
}
.main.js-main-quiz img {
    max-width: 100%;
    border-radius: 8px;
    margin: 10px 0;
}
.main.js-main-quiz input[type="submit"] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}
.main.js-main-quiz input[type="submit"]:hover {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
}
.main.js-main-quiz .question-block {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.main.js-main-quiz {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
